%li.event-item.clearfix.span6
  .event-date
    %time= workshop.time_slot
    %small= workshop.talk_location
  %br.clearfix/
  .event-entry.text-center
    %h3.entry-title= workshop.title
    - if workshop.speakers.size > 1
      .span
      - workshop.speakers.each do |speaker|
        .span2
          %p.lead
            = "#{speaker.first_name} #{speaker.last_name}"
            .photo-wrap
              = image_tag(speaker.rectangle_image_url, width: 50)
    - else
      %p.lead
        = "#{workshop.speaker.first_name} #{workshop.speaker.last_name}"
        .photo-wrap
          = image_tag(workshop.speaker.rectangle_image_url, width: 50)
    .event-image
      %img{alt: workshop.title, src: workshop.image_url}
  .entry-content
    - workshop.description_paragraphs.each do |paragraph|
      %p= paragraph
