.span12.text-center
  .module-header#partners
    %h4= t('partners.header')
  .span6#canonical.text-center
    = link_to 'http://www.canonical.com/', target: :blank do
      = image_tag('/assets/partners/logo/canonical.png')
  .span5#hs_silesia.text-center
    = link_to 'http://hs-silesia.pl/', target: :blank do
      = image_tag('/assets/partners/logo/hackerspacesilesia.png')
  .span6#ScrumDaysPL.text-center
    = link_to 'http://www.scrumdays.pl', target: :blank do
      = image_tag('/assets/partners/logo/scrumdayspl.png')
.span12.divider-space
