=# render partial: 'contact_us/contact_form'
.span12.text-center
  .module-header.contact-header
    %h4= t('section.contact')
.span12.text-center
  %p= t('contact_us.hint')
.span4.offset4.text-center
  .social
    - mikstura_links.each do |site, url|
      %a.icon-wrap.small{:class=> site, :href => "#{url}", :target => "_blank", :title => "#{site}"}
        %i{class:"iconf-#{site}"}
    %a.icon-wrap.small.lanyrd{:href => "http://lanyrd.com/2014/dwo14/", :target => "_blank", :title => "Lanyrd"}
      %i.iconf-lanyrd
.span12.text-center.text-middle
  %p
    %i.iconf-mail
    %a{href: "mailto:#{t('contact_us.email')}?subject=DWO%20'15"}= t('contact_us.email')
.span12.text-center.text-middle
  %p
    %i.iconf-mobile
    +48 661 120 232


