%div.tab-pane.wo-tab-pane.fade.in{id: "day#{talk_group.id}", class: ('active' if active) }
  .span12
    %section.timeline.toggle-shortcode.toggles
      - talk_group.talks.each do |talk|
        - if talk.speakers.present?
          - talk.speakers.each do |speaker|
            %article.event{class: "#{talk.style}"}
              .timeline-icon
                .timeline-icon-container
                  = icon_by_type(talk.style)
              .time-box
                %time{ datetime: talk.start_at }
                  = talk.hour_start_at
              .timeline-content
                .event-content
                  .toggle-item-title.event-title{"data-count" => "1"}
                    %h3= talk.title
                    %h4= "#{speaker.first_name} #{speaker.last_name}" if speaker
                  .toggle-item-body.clearfix{:style => "display: none;"}
                    - if speaker
                      %p.span8
                        - talk.description_paragraphs.each do |paragraph|
                          = paragraph
                          %br
                          %br
                      %p.span2.center
                        %center
                          .photo-wrap
                            %img{:alt => speaker.name, :src => "#{speaker.rectangle_image_url}", width: '100px'}
        -else
          %article.event{class: "#{talk.style}"}
            .timeline-icon
              .timeline-icon-container
                = icon_by_type(talk.style)
            .time-box
              %time{ datetime: talk.start_at }
                = talk.hour_start_at
            .timeline-content
              .event-content
                .toggle-item-title.event-title{"data-count" => "1"}
                  %h3= talk.title
                .toggle-item-body.clearfix{:style => "display: none;"}
                  %p.span8
                    - talk.description_paragraphs.each do |paragraph|
                      = paragraph
