.span12
  .module-header.schedule-header
    %h4= t('section.schedule')
.span12
  %ul#schedule-tabs.nav.nav-pills.tab-fillspace
    - tabs_for_talk_groups(talk_groups) do |talk_group, is_active|
      %li{ class: ('active' if is_active)}
        %a{"data-toggle" => "tab", :href => "#day#{talk_group.id}"}
          = "#{talk_group.title}, #{talk_group.date}"

.tab-content
  - tabs_for_talk_groups(talk_groups) do |talk_group, is_active|
    = render partial: 'schedule/day', locals: { talk_group: talk_group, active: is_active }
