.span12
  .module-header.sponsors-header
    %h4= t('section.sponsors')
.span12.hero-unit.text-center
  %h2= t('sponsors.slogan')
  %p
    %strong
      = t('sponsors.join_us')
  %p
    = link_to t('sponsors.link.text'), t('sponsors.link.url')

.divider-space

#gold.text-center
  .span12#microsoft_openness
    .span6
      .sponsor-description{style: 'margin-top: 5em; margin-bottom: 1em;'}
        - I18n.t('sponsors.sponsors.gold.microsoft_openness.description').each do |paragraph|
          %p= paragraph
    .span5
      = link_to 'http://www.microsoft.com/en-us/openness/default.aspx', target: :blank do
        = image_tag('/assets/sponsors/logo/microsoft_openness.png')
  .span12#selleo
    .span5
      = link_to 'http://selleo.com/', target: :blank do
        = image_tag('/assets/sponsors/logo/selleo.png')
    .span6
      .sponsor-description{style: 'margin-top: 5em; margin-bottom: 1em;'}
        - I18n.t('sponsors.sponsors.gold.selleo.description').each do |paragraph|
          %p= paragraph
#silver.text-center
  .span6#travis
    = link_to 'http://travis-ci.com/', target: :blank do
      = image_tag('/assets/sponsors/logo/travis.png')
  .span6#rekord
    = link_to 'http://www.rekord.com.pl/', target: :blank do
      = image_tag('/assets/sponsors/logo/rekord.png')
  .span4.offset1#travis_desc
    = t('sponsors.sponsors.silver.travis.description').first

.span12.divider-space

#bronze.text-center
  - { jetbrains: 'http://jetbrains.com',
      helion: 'http://helion.pl/',
      aip: 'http://przedsiebiorca.pl/aip/',
      oracle: 'http://www.oracle.com/index.html',
      codeschool: 'http://www.codeschool.com/',
      mysql: 'http://www.mysql.com/' }.each do |code, link|
    .span4{id: code}
      = link_to link, target: :blank do
        = image_tag("/assets/sponsors/logo/#{code}.png")
  .span4.offset2#innapl
    = link_to 'http://www.inna.pl/', target: :blank do
      = image_tag('/assets/sponsors/logo/innapl.png')
  .span4#hotel_na_bloniach
    = link_to 'http://www.hotelnabloniach.pl/', target: :blank do
      = image_tag('/assets/sponsors/logo/hotel_na_bloniach.png')

.span12.divider-space
  .module-header.sponsors-header
    %h4= t('section.media')

.span12.divider-space

#media.text-center
  - { 'http://programistamag.pl/' => 'magazyn.programista.png',
      'http://www.bb365.info/' => 'bb365info.png',
      'http://sdjournal.pl/' => 'sdjournal.png'}.each do |url, picture|
    .span4
      = link_to url, target: :blank do
        = image_tag("/assets/media/logo/#{picture}")

.span12.divider-space

#media_small.text-center
  - { 'http://pracait.com/' => 'pracait.png' }.each do |url, picture|
    .span2.offset5
      = link_to url, target: :blank do
        = image_tag("/assets/media/logo/#{picture}")
