.span12
  .module-header.sponsors-header
    %h4= t('section.sponsors')
.span12.hero-unit.text-center
  %h2= t('sponsors.slogan')
  %p
    %strong
      = t('sponsors.join_us')
    = link_to t('sponsors.link.text'), t('sponsors.link.url')
.divider-space

.span12.text-center#selleo

  - sponsor_groups.each do |sponsor_group|
    -unless sponsor_group.partners.empty?
      %div
        %br
        = image_tag(sponsor_group.logo_url, width: 250) if sponsor_group.logo_url
      %div
        -sponsor_group.partners.each do |partner|
          = link_to partner.social_profile_links.world, data:{ target: :blank} do
            = image_tag(partner.logo_url, alt: partner.name)
      %br

.span12.divider-space

#bronze.text-center.span12
  = image_tag('/assets/sponsors/rockhopper.png', width: 250)
.span12.divider-space
