.span12
  .module-header.sponsors-header
    %h4= t('section.sponsors')
.span12.hero-unit.text-center
  %h2= t('sponsors.slogan')
  %p
    %strong
      = t('sponsors.join_us')
    = link_to t('sponsors.link.text'), t('sponsors.link.url')
.divider-space

.span12.text-center#gold
  = image_tag('/assets/sponsors/king.png', width: 250)
  .divider-space
.span12.text-center#selleo
  = link_to 'http://selleo.com/', target: :blank do
    = image_tag('/assets/sponsors/logo/selleo.png')
.span12.divider-space

#silver.text-center.span12
  = image_tag('/assets/sponsors/magellanic.png', width: 250)
  .divider-space
.span12.text-center
  .span7#microsoft
    = link_to 'http://www.microsoft.com/en-us/openness/default.aspx#home', target: :blank do
      = image_tag('/assets/sponsors/logo/microsoft.png')
  .span4#mysql
    = link_to 'http://mysql.com/', target: :blank do
      = image_tag('/assets/sponsors/logo/mysql.png')
  .offset4.span7#coderion
    = link_to 'http://coderion.pl/', target: :blank do
      = image_tag('/assets/sponsors/logo/coderion.png')
.span12.divider-space

#bronze.text-center.span12
  = image_tag('/assets/sponsors/rockhopper.png', width: 250)
  .divider-space
.span12.text-center
  = link_to 'http://www.smsapi.pl/#/', target: :blank do
    = image_tag('/assets/sponsors/logo/smsapi.png')
.span12.divider-space
