.span12.text-center
  %img{:alt => "DWO '15'", :src => "/assets/layout/dwo_logo_white.png"}/
  .copyright
    = t('footer.is_organised_by')
    = ': '
    %a{href: "http://mikstura.it", target: '_blank'}= t('footer.mikstura_it')
    ,
    %a{href: "http://info.ath.bielsko.pl/", target: '_blank'}= t('venue.ath')
    ,
    %a{href: "http://reset.ath.bielsko.pl/", target: '_blank'}= 'Reset'

    %br#code_of_conduct
    = link_to t('footer.code_of_conduct.header'), "", data: { target: '#modal-code-of-conduct', toggle: "modal"}
    = '/'
    = link_to t('footer.tos'), "/rules"
    = '/'
    = link_to t('footer.policy'), "/policy"
    = '/'
    %a{href: 'https://github.com/miksturait/opensourcedays.mikstura.it', target: '_blank'}= t('footer.source_code_available')
    %br
    =image_tag('/assets/layout/favicon.ico', alt: "DWO '15", width: '16px')
    2007-2015

#modal-code-of-conduct.modal.hide.fade.code-of-conduct.text-center
  .modal-header
    %h3= t('footer.code_of_conduct.header')
  .modal-body
    %p= t('footer.code_of_conduct.message')
    %small
      %p= link_to t('footer.code_of_conduct.inspired_by_oreilly'),
        "http://oreilly.com/conferences/code-of-conduct.html", target: :blank

